black
bpython
codecov
flake8==3.7.8
pydocstyle==4.0.1
pylint==2.4.2
pytest-asyncio==0.10.0
pytest-bdd==3.2.1
pytest-cov==2.8.1
pytest-mock==1.11.1
pytest-rerunfailures==7.0
pytest-socket==0.3.3
pytest-xdist==1.30.0
pytest==5.2.1
twine==2.0.0
wheel==0.33.6

